*,
*::after,
*::before {
    box-sizing: border-box;

    &:after {
        box-sizing: border-box;
    }

    &:before {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    position: relative;
    font-family: foundersLight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Stack and slideshow */
    --stack-margin: 10rem;
    --slide-gap: 2vh;
    --stack-width: 30vh;
    --stack-item-width: 30vw;
    --stack-item-height: 12vh;
    --slide-width: 60vh;
    --slide-height: 80vh;
}

#stack {
    position: absolute;
}

.stack__item--current {
    opacity: 1;
}

.oh {
    position: relative;
    overflow: hidden;
}

.oh__inner {
    display: inline-block;
    will-change: transform;
}

.stack {
    margin: 0 auto;
    width: var(--stack-width);
    min-width: 300px;
    grid-gap: 2vh;
    display: grid;
    place-items: center;
}

.slides {
    width: 100%;
    position: relative;

    .stack {
        width: 100%;
        margin-left: auto;
        margin-right: var(--slide-gap);
    }

    .stack-item {
        height: 80vh;
        width: 60vh;
        border-radius: 0px;
        opacity: 1;
    }
}

.stack-wrap {
    width: 100%;
    position: absolute;
    top: 0;
}

.stack-item {
    width: 60vh;
    height: var(--stack-item-height);
    background-size: cover;
    background-position: top;
    opacity: 0.4;
    will-change: width, height, transform, opacity;

    &:hover {
        opacity: 1;
    }
}

.stack__item--current {
    opacity: 1;
}

.stack-item--empty {
    pointer-events: none;
    height: var(--stack-margin);
}

.nav-wrap {
    grid-area: 1 / 1 / -1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    z-index: 1000000000;

    .btn {
        opacity: 1;
        flex: none;
        align-self: center;
        height: calc((100vh - var(--slide-height) - var(--slide-gap) * 4) / 3);

        &:hover{
            background-color: red;
        }
    }

    #prev{
        position: sticky;
        top: 0
    }

    #next{
        position: sticky;
        bottom: 0;
    }
}

.visible {
    opacity: 1;
}
