body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.stack {
    margin-top: 0px;
    .items {
        width: calc(60 * 31 + 20);
        .item {
            width: 5vw;
        }
    }
}

.slides {
    margin-top: 0px;
    .items {
        width: calc(180 * 31);
        .item {
            width: 15vw;
        }
    }
}

.item {
    display: inline-block;
    position: relative;
    height: 20vw;
    min-width: 50px;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    border: 1px solid red;

    &:hover {
        border: 1px solid transparent;
    }

    &::before {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    &:first-child {
        margin-left: -10px;
    }
}

.blank {
    opacity: 0;
}
